.wrap {
  margin-bottom: 20px;
  gap: 20px;
  display: flex;
}

.button {
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: rgba(#002984, 0.2);
  }

  &:focus {
    background-color: rgba(#00766c, 0.3);
  }
}
